.btn:focus{
  outline: none;
  border: none;
  box-shadow: none;
}

.my-view-container {
  height: 100vh;
}

.my-full-height {
  height: 100%;
}

.my-logo {
  margin-bottom: 0.5em;
  text-align: center;
}

.my-page-container {
  margin-top: 64px;
}

.my-no-padding {
  padding: 0;
}

.my-navbar a {
  padding: 0.5em !important;
}

.my-mobile-search .form-group {
  margin-bottom: 0;
}

.my-ads {
  border: 1px solid #ccc;
}

@media screen and (min-width: 768px) {
  .my-publish-button-col {
    padding-left: 0;
  }
}