@font-face {
  font-family: 'Kalam';
  src: url('./font/Kalam-Regular.ttf');
}

@font-face {
  font-family: 'Alata';
  src: url('./font/Alata-Regular.ttf');
}

body {
  background: #f6f9f6;
  font-family: 'Alata';
}

.ta-center {
  text-align: center;
}

.btn:focus{
  outline: none;
  border: none;
  box-shadow: none;
}

.btn {
  font-style: .9rem;
}

.my-login-box {
  background: white;
  border: 1px solid #ccc;
  border-radius: .25rem;
  padding: 2rem 1rem;
  margin: 1rem;
  box-shadow: 2px 2px 4px #444;
}

.my-login-background {
  width: 100vw;
  height: 100vh;
  background-image: url("./img/login-background.jpg");
  position: absolute;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-login-background > .my-logo {
  font-size: 4rem;
  color: white;
}

.my-not-found-page {
  padding: 0 1rem;
}

.my-not-found-page p {
  font-size: 1.5rem;
  color: #eee;
}

@media screen and (max-width: 767px) {
  .my-not-found-page p {
    font-size: 1rem;
    font-weight: bold;
  }
}

.my-login-phrase {
  color: white;
  font-size: 2.5rem;
}

.my-login-container .my-full-height {
  justify-content: space-evenly;
}

.my-login-container {
  height: 100vh;
}

.my-full-height {
  height: 100%;
}

.my-logo {
  font-family: 'Kalam', sans-serif;
  margin-bottom: 0.5em;
  text-align: center;
}

a.navbar-brand {
  font-family: 'Kalam', sans-serif;
  font-size: 1.5rem;
  line-height: 30px;
}

.my-page-container {
  padding-top: 64px;
  height: 100vh;
  overflow-y: auto;
}

.my-page-container > .row {
  height: 100%;
  padding-bottom: 15px;
}

.my-no-padding {
  padding: 0;
}

.my-mobile-search {
  width: 100%;
}

.my-mobile-search .form-group {
  margin-bottom: 0;
}

.my-mobile-search .my-return-button {
  width: 14%;
}

.my-mobile-search .my-search-input {
  width: 86%;
}

.my-ads {
  border: 1px solid #ccc;
  background: white;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 767px) {
  .my-publish-button-col {
    padding-left: 0;
  }
}

.my-post-form-photo {
  position: relative;
}

.my-post-form-photo-wall {
  position: absolute;
  width: 100%;
  top: 0;
}

.my-post-form-photo-wall .btn {
  float: right;
}

.my-post {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: .25rem;
  background: white;
}

.my-post .my-profile-picture {
  margin: 0;
}

.my-post-options .dropdown-menu {
  box-shadow: 2px 2px 4px #aaa;
}

.my-post-content img {
  margin-bottom: 1rem;
}

.my-post-buttons .btn{
  padding: 4px 8px;
}

@media screen and (max-width: 767px) {
  .my-post .btn {
    font-size: 13px;
    padding: 6px 10px;
  }
}

@media screen and (max-width: 767px) {
  .my-tags-input {
    margin-bottom: 1rem;
  }
}
.my-postform-tags-container {
  margin: 0;
}

.my-tag {
  font-size: 0.8rem;
  padding: 6px;
  margin-right: 8px;
  margin-bottom: 16px;
}

.my-tag a{
  color: inherit;
}

.btn.btn-outline-dark {
  border: none;
}

.my-post-options {
  display: inline;
}

.my-post-author-name, .my-post-author-name:hover {
  color: inherit;
}

@media screen and (max-width: 767px) {
  .my-post-author-name {
    line-height: 1rem;
  }
}

.my-post-date {
  font-size: .8rem;
  color: #777;
}

@media screen and (max-width: 1023px) {
  .my-post-text {
    font-size: .9rem;
  }
}

.my-post-options-button.dropdown-toggle::after {
  display: none;
}

.my-profile-picture-wrapper {
  display: inline-block;
  overflow: hidden;
}

.my-profile-picture-wrapper.tiny {
  width: 40px;
  min-width: 40px;
}

.my-profile-picture-wrapper.small {
  width: 48px;
  min-width: 48px;
}

.my-profile-picture-wrapper.medium {
  width: 64px;
  min-width: 64px;
}

.my-profile-picture-wrapper.max {
  width: 100%;
  min-width: 100%;
  padding: 1rem;
}

.my-profile-picture-wrapper input[type=file] {
  margin: 1rem 0;
}

.my-profile-picture {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: block;
}

.my-profile-picture.square {
  border-radius: 0;
}

.modal-body .my-profile-picture-wrapper {
  padding: 0;
}

@media screen and (max-width: 425px) {
  .my-profile-picture-wrapper.tiny .my-profile-picture {
    margin: auto;
    width: 80%;
    padding-top: 80%;
  }
}

.my-profile-picture-button-wall {
  position: absolute;
  margin-top: 75%;
  right: 10%;
  display: flex;
  justify-content: flex-end;
}

.my-profile-picture-change {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .my-profile-picture-change {
    width: 3.5rem;
    height: 3.5rem;
  }
}

input[type="file"]

.my-profile-data-title {
  text-align: center;
}

.my-profile-data-bio {
  font-size: .9rem;
  color: #555;
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
}

.my-profile-data-icon {
  width: 1.25rem !important;
}

.my-following-feed {
  border: 1px solid #ccc;
  border-radius: .25rem;
  background: white;
  height: 100%;
  overflow-y: auto;
  font-size: 14px;
  position: relative;
}

.my-following-feed p {
  text-align: center;
}

.my-following-feed .see-all {
  position: absolute;
  bottom: 0;
}

.list-group-item {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px){
  .my-content-col {
    height: 100%;
    overflow-y: auto;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 10px;
  background: #ccc;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.modal-footer>* {
  width: 100%;
}

.my-sun-icon {
  font-size: 22px;
  color: yellow;
}

.my-moon-icon {
  font-size: 20px;
  color: white;
}

@media only screen and (max-width: 425px){
  .my-moon-icon, .my-sun-icon {
    width: 26px;
  }
}

.my-notifications .dropdown-menu.show {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.my-notifications .dropdown-item {
  align-items: center;
}

.my-see-all {
  justify-content: center;
}

.my-notification-date {
  color: #777;
}

.my-content-col .my-notification {
  margin-bottom: .5rem;
  padding: .5rem;
}

.my-content-col .my-notification:hover {
  background: #eee;
}

.my-dark-theme {
  background: #000;
}

.my-dark-theme .my-following-feed, .my-dark-theme .my-post, 
.my-dark-theme .form-control, .my-dark-theme .my-ads,
.my-dark-theme .card {
  background: #111;
  color: #ddd;
  border: none;
}

.my-dark-theme .my-notification {
  background: #111;
  border-radius: 4px;
}

.my-dark-theme .dropdown-menu, .my-dark-theme .dropdown-item {
  background: #222;
}

.my-dark-theme .my-navbar-container {
  background-color: #222 !important;
}

.my-dark-theme .form-control {
  background: #090909;
}

.my-dark-theme .form-control::placeholder {
  color: #888;
}

.my-dark-theme .my-following-feed > p {
  color: #fff;
}

.my-dark-theme .my-notification-label {
  color: #eee;
  white-space: normal;
}

.my-dark-theme .my-following-feed .list-group-item {
  background: #111;
}

.my-dark-theme .my-post .my-post-author-name, .my-dark-theme .btn-outline-dark {
  color: #fff;
}

.my-dark-theme ::-webkit-scrollbar-thumb {
  background: #777;
}

.my-dark-theme .btn-dark {
  background-color: transparent;
  border: none;
}

.my-dark-theme .my-profile-data-bio {
  color: #aaa;
}

.my-dark-theme .my-post .alert-secondary {
  background: transparent;
  color: #ddd;
  border: none;
}

.my-dark-theme .dropdown-item:hover {
  background: #444;
}

.my-dark-theme .dropdown-item {
  color: white;
}

.my-dark-theme .dropdown-divider {
  border-top: 1px solid #111;
}

@media only screen and (max-width: 425px){
  .my-notification, .my-post, textarea, input, button, .dropdown-menu,
  .my-profile-data, .my-navbar-container, .my-post-text {
    font-size: 10pt !important;
  }
}