@font-face {
  font-family: 'Kalam';
  src: url('./font/Kalam-Regular.ttf');
}

body {
  background: #f6f9f6;
}

.btn:focus{
  outline: none;
  border: none;
  box-shadow: none;
}

.my-login-box {
  background: white;
  border: 1px solid #ccc;
  border-radius: .25rem;
  padding: 2rem 1rem;
  margin: 1rem;
  box-shadow: 2px 2px 4px #444;
}

.my-login-background {
  width: 100vw;
  height: 100vh;
  background-image: url("./img/login-background.jpg");
  position: absolute;
  background-size: cover;
  opacity: 0.8;
}

.my-login-phrase {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.my-login-container .my-full-height {
  justify-content: space-evenly;
}

.my-login-container {
  height: 100vh;
}

.my-full-height {
  height: 100%;
}

.my-logo {
  font-family: 'Kalam', sans-serif;
  margin-bottom: 0.5em;
  text-align: center;
}

a.navbar-brand {
  font-family: 'Kalam', sans-serif;
  font-size: 1.5rem;
  line-height: 30px;
}

.my-page-container {
  margin-top: 64px;
}

.my-no-padding {
  padding: 0;
}

.my-navbar a {
  padding: 0.5em !important;
}

.my-mobile-search .form-group {
  margin-bottom: 0;
}

.my-ads {
  border: 1px solid #ccc;
  background: white;
}

@media screen and (min-width: 767px) {
  .my-publish-button-col {
    padding-left: 0;
  }
}

.my-post {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: .25rem;
  background: white;
}

.my-post-buttons .btn{
  padding: 4px 8px;
}

@media screen and (max-width: 767px) {
  .my-post .btn {
    font-size: 13px;
    padding: 6px 10px;
  }
}

@media screen and (max-width: 767px) {
  .my-tags-input {
    margin-bottom: 1rem;
  }
}
.my-postform-tags-container {
  margin: 0;
}

.my-tag {
  font-size: 0.8rem;
  padding: 6px;
  margin-right: 8px;
  margin-bottom: 16px;
}

.my-tag a{
  color: inherit;
}

.btn.btn-outline-dark {
  border: none;
}

.my-post-options {
  display: inline;
}

.my-post-author-name {
  display: flex;
}

@media screen and (max-width: 767px) {
  .my-post-author-name {
    line-height: 1rem;
  }
}

.my-post-date {
  font-size: .8rem;
  color: #777;
}

@media screen and (max-width: 1023px) {
  .my-post-text {
    font-size: .9rem;
  }
}

.my-post-options-button.dropdown-toggle::after {
  display: none;
}